<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home_styles.css' %}">
</head>
<div class="container mt-4">
    <div class="container">
        <h1>Betting System</h1>
        <ul>
            {% if user.is_authenticated %}
            <!-- Если пользователь авторизован -->
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">
                        Logout
                    </button>
                </form>
            </li>
            {% else %}
            <!-- Если пользователь не авторизован -->
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="sports-categories">
                <h5>Sports Categories</h5>
                <ul>
                    {% for category in sports_categories %}
                    <li><a href="{% url 'vote' category.id %}">{{ category.name }}</a></li>
                    {% empty %}
                    <li>No categories available</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Matches -->
        <div class="col-md-9">
            <div class="match-card">

            </div>
        </div>
    </div>
</div>
